spring:

server:
  port: 8083
  servlet:
    context-path: /api/recommendation

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

# Logging
logging:
  level:
    com.netflix.eureka: INFO
    com.netflix.discovery: INFO
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
    file: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"